# Compiled files
*.tfstate
*.tfstate.backup
terraform.tfvars.backup

# Module-specific temporary files
.terraform/
.terraform.lock.hcl

# Log files
*.log

# Ignore override files as they are usually used for local settings
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore ssh keys
ssh_key.pub
ssh_key